.card-img-top {
  height: 180px;     
  object-fit: cover; 
}
.row{
          display: flex;
          justify-content: space-evenly !important; 
}
.products div{
          font-size:14px
}
.products img:hover{
          transform:scale(1.1)
}
.products{
          font-size:medium;
          display:flex;
          flex-direction:column;
          align-items:center
}
.rating{
          background-color:green;
          width:fit-content;
          padding:0 16px;
          border-radius:5px;
          color:#fff
          }
.products .product_Img{
          height:150px
}
.products img{
          padding:1px;
          width:100%;
          height:100%;
          object-fit:contain
}
footer{
            background-color: rgb(46, 45, 45);
            color: white;
            line-height: 25px;
        }